/* Color Palette Definitions */
:root {
  /* VARS */
  --light-bg-color: #ffffff;
  --light-text-color: #222222;
  --light-border-color: #dddddd;
  --light-accent-color: #0066cc;
  --light-mute-bg: #f6f8fa;
  --light-mute-text: #555555;
  --light-color-blue: #1D4ED8;
  --light-color-orange: #C2410C;
  
  --dark-bg-color: #1a2022;
  --dark-text-color: #eeeeee;
  --dark-border-color: #444444;
  --dark-accent-color: #58a6ff;
  --dark-mute-bg: #2d2d2d;
  --dark-mute-text: #aaaaaa;
  --dark-color-blue: #60A5FA;
  --dark-color-orange: #FDBA74;


  /* Light Mode */
  --bg-color: var(--light-bg-color);
  --text-color: var(--light-text-color);
  --border-color: var(--light-border-color);
  --accent-color: var(--light-accent-color);
  --mute-bg: var(--light-mute-bg);
  --mute-text: var(--light-mute-text);

  --color-blue: var(--light-color-blue);
  --color-orange: var(--light-color-orange);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Mode */
    --bg-color: var(--dark-bg-color);
    --text-color: var(--dark-text-color);
    --border-color: var(--dark-border-color);
    --accent-color: var(--dark-accent-color);
    --mute-bg: var(--dark-mute-bg);
    --mute-text: var(--dark-mute-text);

    --color-blue: var(--dark-color-blue);
    --color-orange: var(--dark-color-orange);
  }
}

:root.dark-theme {
  /* Dark Mode (opt in) */
  --bg-color: var(--dark-bg-color);
  --text-color: var(--dark-text-color);
  --border-color: var(--dark-border-color);
  --accent-color: var(--dark-accent-color);
  --mute-bg: var(--dark-mute-bg);
  --mute-text: var(--dark-mute-text);

  --color-blue: var(--dark-color-blue);
  --color-orange: var(--dark-color-orange);
}

:root.light-theme {
  /* Light Mode (opt in) */
  --bg-color: var(--light-bg-color);
  --text-color: var(--light-text-color);
  --border-color: var(--light-border-color);
  --accent-color: var(--light-accent-color);
  --mute-bg: var(--light-mute-bg);
  --mute-text: var(--light-mute-text);

  --color-blue: var(--light-color-blue);
  --color-orange: var(--light-color-orange);
}

/* Color transition */
:root {
  transition: background-color 0.3s ease, color 0.3s ease;
}
body, body * {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

/* Application to Tags */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1, h2, h3 {
  /* color: var(--text-color); */
  color: inherit;
  border-bottom-color: var(--border-color);
}

/* Links */
a {
  color: var(--accent-color);
}

/* Tables */
th {
  background-color: var(--mute-bg);
  border-color: var(--border-color);
}

td {
  border-color: var(--border-color);
}

/* Lists */
li::marker {
  color: var(--accent-color);
}

/* Blockquotes & Code */
blockquote {
  border-left-color: var(--border-color);
  color: var(--mute-text);
}

code, pre {
  background-color: var(--mute-bg);
  border-color: var(--border-color);
}
