*, *::before, *::after {
  box-sizing: border-box;
}

* {
    font-family: 'Merriweather', sans-serif;
}

.inline-loading {
    color: var(--bg-color);
    background-color: var(--text-color);
    cursor: help;
    animation: inline-loading 1s linear infinite alternate;
}
@keyframes inline-loading {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
    width: 100%;
}

.grid-container .hero-container {
    position: relative;
    order: 1;
}

.grid-container .hero-container .sub-header {
    position: relative;
    text-align: center;
    margin-top: calc(max(1vw,10px) + 20px);
    margin-right: 10px;
    font-size: 1.2rem;
}

.grid-container .hero-container .sub-header .tooltip-company {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;

    visibility: hidden;
    opacity: 0;
}
.grid-container .hero-container .sub-header .tooltip-company * {
    font-family: sans-serif;
}

.grid-container .hero.text {
    position: absolute;
    width: 100%;
    /* height: 100%; */
    top: 0;
    left: 0;

    display: inline-flex;
    justify-content: center;
    gap: 1vw;
    font-size: max(8vw, 30px);
    flex-wrap: wrap;
    color: transparent;
    font-family: sans-serif;
    font-weight: normal;
}
.grid-container .hero.text div {
    /* padding: 0px 2vw; */
}

.grid-container .hero {
    text-align: center;
}

.hero svg.myname {
    min-height: 50px;
    height: 15vw;
    max-height: 200px;

    margin-bottom: max(-8vw, -100px);
    pointer-events: none;
}
.grid-container .photo-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container .photo-container .photo {
    width: 95%;
    max-width: 200px;
    aspect-ratio: 1;
    object-fit: cover;
    margin-top: 5px;
    border: double 4px var(--text-color);
    border-radius: 10%;
    filter: saturate(0.75);
}

.text-path {
    fill: none;
    /* stroke: var(--text-color); */
    stroke: var(--color-blue);
    /* stroke: var(--color-orange); */
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    /* Transisi CSS dipindahkan ke class agar lebih rapi */
    /* -transition: stroke-dashoffset 0.8s ease-in-out; */
    filter: url(#filter1);
}

@media (min-width: 620px) {
    .grid-container {
        grid-template-columns: minmax(200px, 3fr) minmax(300px, 2fr);
    }

    .grid-container .hero-container {
        order: 0;
    }

    .grid-container .hero {
        text-align: right;
    }

    .grid-container .hero.text {
        display: block;
        font-size: min(9vw, 80px);
        letter-spacing: 1vw;
    }

    .hero svg.myname {
        min-height: 20px;
        height: 20vw;
        max-height: 200px;
    }

    .grid-container .photo-container {
        justify-content: flex-start;
    }
    .grid-container .photo-container .photo {
        margin-left: 10px;
    }

    .grid-container .hero-container .sub-header {
        text-align: right;
    }
    .grid-container .hero-container .sub-header .tooltip-company {
        justify-content: flex-end;
    }

}

.section {
    flex-basis: 100%;
}

.summary {
    max-width: 700px;
    margin: 10px auto;
    line-height: 1.5;
    letter-spacing: 0.2ch;
}

.spacer {
    pointer-events: none;
    margin: 20px auto;
}
.spacer::after {
    content: "─   ─  ── ── ⋆⋅𖤓⋅⋆ ── ──  ─   ─";
    pointer-events: none;
    color: var(--color-orange);
}

#btn-tooltip-company {
    position: absolute; transform: scale(0);
}
/* #btn-tooltip-company:focus + .tooltip-company, */
#btn-tooltip-company:checked ~ .tooltip-company
/* .tooltip-company:focus-within, */
{
    visibility: visible;
    opacity: 1;
}
#btn-tooltip-company ~ label[for="btn-tooltip-company"] {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--text-color);
    opacity: 0.4;
    visibility: hidden;
}
#btn-tooltip-company:checked ~ label[for="btn-tooltip-company"] {
    visibility: visible;
}

.porto-links {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.porto-link {
    flex-basis: 150px;
    flex-grow: 0;
    flex-shrink: 1;
    text-align: center;
    vertical-align: middle;
    max-width: 200px;
    margin: 5px;
    padding: 10px;
    /* border: solid 2px var(--border-color); */
    border-radius: 10px;
    background-color: var(--border-color);
}

.porto-link:hover {
    --text-color: var(--color-blue);
}

.porto-link a {
    text-decoration: none;
}

.porto-link a * {
    font-family: sans-serif;
    color: var(--text-color);
}

.porto-link svg.icon {
    height: 30px;
    width: auto;
}
.porto-link svg.icon path {
    fill: var(--text-color);
}

/* ANIM */
.fade-in {
    opacity: 0;
    /* transition: opacity 0.8s ease-out; */
    /* will-change: opacity; */
}
.visible.fade-in, .visible .fade-in {
    opacity: 0;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: fade-in 1.5s linear 0s 1 normal both;
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in-up {
    opacity: 0;
}
.visible.fade-in-up, .visible .fade-in-up {
    opacity: 0;
    animation: fade-in-up 1s linear 0s 1 normal both;
}
@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}